.header {
  width: 100%;
  height: 70px;
  background-color: var(--primary);
  text-align: center;
  color: var(--text-color-reverse);
  display: flex;

  .wrapper {
    margin: auto;
    width: 80%;

    .inline {
      display: inline-block;
    }

    .wrapper-logo {
      float: left;
    }
    .wrapper-searching {
      input {
        padding: 0 0 0 20px;
        width: 400px;
        height: 30px;
      }
    }
    .wrapper-user_sidebar {
      float: right;
    }
  }
}
