.wrapper {
  position: absolute;
  height: 100px;
  width: 100%;
  top: 120%;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.result-searching {
}
